<footer>
    <div class="foot_div1">
        © 2024 Emergency Assist Platform. All rights reserved.
    </div>
    <div class="foot_div2">
        <a href="#">개인정보처리방침</a>
        <a href="#">이용약관</a>
        <a href="#">고객센터</a>
        <a href="#">문의하기</a>
    </div>
</footer>
</body>
</html>