<footer>
    <div class="foot_div1">
        © 2024 Emergency Assist Platform. All rights reserved.
    </div>
    <div class="foot_div2">
        <a href="#" class="modal-trigger" data-modal="privacy-modal">개인정보처리방침</a>
        <a href="#" class="modal-trigger" data-modal="terms-modal">이용약관</a>
        <a href="#" class="modal-trigger" data-modal="support-modal">고객센터</a>
        <a href="#" class="modal-trigger" data-modal="inquire-modal">문의하기</a>
    </div>
</footer>